body {
  background: #ededed;
  font-family: "Serenity", Arial, sans-serif;
}

h1 {
  font-size: 12vmin;
  font-weight: bold;
  color: #1f1f1f;
}

a:hover {
    color: #215234;
  }

/*Animations*/

  @keyframes logodown {
    from {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  .logodown {
    animation-name: logodown;
    animation-duration: 0.6s;
    animation-fill-mode: both;
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform:(0, -2000px, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 0.8s;
    animation-fill-mode: both;
  }


/* Start */

.content_start {
  border: 2px;
  height: 95%;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 7.1vw;
}

.logo {
  border: 2px;
  width: 30vmin;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  position: relative;
}


/* Nav*/

.logo_small {
  border: 2px;
  width: 45px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

.logo_instagram {
  border: 2px;
  width: 37px;
  height: auto;
  padding-top: 27px;
  padding-right: 3px;
  float: right;
  position: relative;
}

.logo_fb {
  border: 2px;
  width: 41px;
  padding-top: 22px;
  padding-right: 15px;
  float: right;
  position: relative;
}

.logo_behance {
  border: 2px;
  width: 53px;
  height: auto;
  padding-top: 18.5px;
  float: right;
  position: relative;
}

.nav_work {
  font-size: 7vmin;
  font-weight: 400;
  position: fixed;
  top: 45px;
  left: 1vw;
  transform: rotate(-90deg);
  text-decoration: none;
  color: #183C37;
  z-index: 1;
}

.nav_me {
  font-size: 7vmin;
  font-weight: 400;
  position: fixed;
  top: 20px;
  left: 2vw;
  transform: rotate(-90deg);
  text-decoration: none;
  color: #183C37;
  z-index: 1;
}

.nav_contact {
  font-size: 7vmin;
  font-weight: 400;
  position: fixed;
  bottom: 10vw;
  right: 0px;
  transform: rotate(90deg);
  text-decoration: none;
  color: #183C37;
  z-index: 1;
}

.nav_work_contactsite {
  font-size: 7vmin;
  font-weight: 400;
  position: fixed;
  bottom: 4vw;
  right: 1.5vw;
  transform: rotate(90deg);
  text-decoration: none;
  color: #183C37;
  z-index: 1;
}

.nav_me_contactsite {
  font-size: 7vmin;
  font-weight: 400;
  position: fixed;
  top: 20px;
  left: 2vw;
  transform: rotate(-90deg);
  text-decoration: none;
  color: #183C37;
  z-index: 1;
}

.me_home {
  border: 2px;
  top: 4vw;
  width: 44vw;
  height: 10vw;
  right: 5vw;
  position: relative;
  float: right;
  font-size: 10vmin;
  font-weight: bold;
  text-decoration: none;
  }

.contact_home {
  border: 2px;
  display: block;
  clear: both;
  width: 20vw;
  height: 7.1vw;
  right: 8vw;
  top: 10vw;
  position: relative;
  float: right;
  font-size: 10vmin;
  font-weight: bold;
  text-decoration: none;
}

.work_home {
  border: 2px;
  display: block;
  clear: both;
  top: 8vw;
  width: 20vw;
  height: 10vw;
  left: 5vw;
  position: relative;
  float: left;
  font-size: 10vmin;
  font-weight: bold;
  text-decoration: none;
}

.work_categories {
  border: 2px;
  top: 9vw;
  width: 44vw;
  height: 30vw;
  right: 5vw;
  position: relative;
  float: right;
  font-size: 10vmin;
  font-weight: 600;
  text-decoration: none;
  list-style-type: none;
  }

.work_work {
  border: 2px;
  display: block;
  top: 18vw;
  width: 20vw;
  height: 10vw;
  left: 5vw;
  position: relative;
  float: left;
  font-size: 10vmin;
  font-weight: bold;
  text-decoration: none;
  }


/* Home*/

.content_home {
  border: 2px;
  height: 90%;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 2.5vw;
}

.header {
  border: 2px;
  width: 100%;
  height: 80px;
}


/*contact*/

.letswork {
  border: 2px;
  top: 8vw;
  width: 100%;
  height: auto;
  position: relative;
  font-size: 10vmin;
  font-weight: 500;
  }


/* Me*/

#portrait {
  max-width: 33vw;
  top: 3vw;
  height: auto;
  display: block;
  position: relative;
  float: left;
  left: 5vw;
  margin-bottom: 7.1vw;
}

.textaboutme {
  border: 2px;
  width: 44vw;
  height: 36.5vw;
  right: 8.5vw;
  position: fixed;
  float: right;
  padding: 5px;
}


/*photo*/

.sliderimgarch {
  border: 2px;
  display: block;
  clear: both;
  padding: 5px;
  top: -20vw;
  width: 35vw;
  height: auto;
  position: relative;
  float: left;
  left: 5vw;
  display: block;
  }

.sliderimgfashion {
  border: 2px;
  display: block;
  clear: both;
  padding: 5px;
  top: -20vw;
  max-width: 33vw;
  height: auto;
  position: relative;
  float: left;
  left: 5vw;
  display: block;
  }

.photo_categories {
  border: 2px;
  top: 5vw;
  width: 44vw;
  height: 30vw;
  right: 5vw;
  position: relative;
  float: right;
  clear: both;
  font-size: 10vmin;
  font-weight: 600;
  z-index: 1;
  }

#fashion_link {
  border: 2px;
  top: 13vw;
  width: 10vw;
  height: 8vw;
  right: 4vw;
  position: absolute;
  float: right;
  font-size: 8vmin;
  font-weight: 600;
  z-index: 1;
  transform: rotate(-90deg);
  }

#architecture_link {
  border: 2px;
  top: 23vw;
  width: 10vw;
  height: 8vw;
  right: 4vw;
  position: absolute;
  float: right;
  font-size: 8vmin;
  font-weight: 600;
  z-index: 1;
  transform: rotate(-90deg);
  }


/*Platzhalzer*/

.comingsoon {
  border: 2px;
  top: 2vw;
  width: 100%;
  height: auto;
  position: relative;
  font-size: 7vmin;
  font-weight: 500;
  }


/*Java-Script*/

/*  $(function() {

      $(window).scroll(function () {
          if ($(this).scrollDown() >100) {
              $('.photo_categories').html('architecture');
          } else {
              $(".photo_categories").html('Yes');
          }
      });
  });*/
