body {
  background: #ededed;
  font-family: serenity, Arial, sans-serif;
}

/* Font Styles */

/*.categories {
  text-decoration: none;
  font-size: 30pt;
  font-weight: bold;
  border: 2px solid red;
  display: inline;
  width: 100%;
  color: #1f1f1f;
  text-align: center;
}*/

.categories {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 80%;
  text-decoration: none;
  font-size: 44pt;
  font-weight: bold;
  color: #1f1f1f;
}

.all {
  background-color: rgba(50, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1
}

.logo {
  border: 2px solid red;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;

}
