body {
  background: #ededed;
  font-family: "Serenity", Arial, sans-serif;
}

h1 {
  font-size: 120pt;
  font-weight: bold;
  color: #1f1f1f;
}

/* Start */

/*.categories {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 60%;
  text-decoration: none;
  font-size: 120pt;
  font-weight: bold;
  color: #1f1f1f;*/
}

#name {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 12vmin;
  /*font-size: 100pt*/
  font-weight: 500;
  color: #1f1f1f;
  position: relative;
  border: 2px solid red;
  }

/* .all {
  background-color: rgba(50, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1
} */

.content_start {
    border: 2px solid red;
    height: 95%;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    }

.logo {
  border: 2px solid red;
  /*width: 250px;*/
  width: 30vmin;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  position: relative;
  padding-top: inherit;
  padding-bottom: inherit;
}

/* Nav*/

.logo_small {
  border: 2px solid red;
  width: 45px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: inherit;
  padding-bottom: inherit;
}

.nav_work {
  font-size: 40pt;
  font-weight: 400;
  position: absolute;
  top: 45px;
  left: 15px;
  transform: rotate(-90deg);
  text-decoration: none;
  color: #1f1f1f;
}

.nav_contact {
  font-size: 40pt;
  font-weight: 400;
  position: absolute;
  bottom: 95px;
  right: 0px;
  transform: rotate(90deg);
  text-decoration: none;
  color: #1f1f1f;
}

/* Home*/

.content_home {
    border: 2px solid red;
    height: 95%;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

.header {
  border: 2px solid red;
  width: 100%;
  height: 80px;
}

/* Me*/

.me_sec {
  border: 2px solid red;
  width: 60%;
  margin: 500px
}

/*#me {
  border: 2px solid red;
  text-align: center;
  position: relative;
  height: 25%;
}*/

#portrait {
  max-width: 50vmin;
  height: auto;
  float: left;
  clear: left;
  position: fixed;
}

.textaboutme {
  margin-left: 45%;
  position: fixed;
}
